/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
Colour Ideas:
#080F0F - Night
#221D23 - Raisin Black
#1C1D21 - Eerie Black
#1B2845 - Dark Blue
#274060 - Slightly Lighter Dark Blue
#14110f - Smoky Black
#373737 - Jet
#2e294e - Space Cadet

Palette #1: https://colorhunt.co/palette/ff65001e3e620b192c000000
Palette(s) #2: https://paperheartdesign.com/blog/color-palette-awesome-space
Palette(s) #3: https://piktochart.com/tips/outer-space-color-palette
*/

/* Initialise Variables */
:root {
    --color-primary: #000;
    --color-secondary: #000;
    --color-background: #FFFFFF;
    --color-heading: #000;
    --color-text-primary: #000;
    --color-text-secondary: #000;
    --color-link: #000;
}


/* Basic Page Styles */
body {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            'wdth' 100;
    color: var(--color-text-primary);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: var(--color-background);
}


/* Headings / Sizing */

/* Temporarily Commented Out
h1 {
    color: var(--color-heading);
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.125rem;
    margin: 0 0 24px;
}

h2 {
    color: var(--color-heading);
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 2.625rem;
    margin: 0 0 20px;
}

h3 {
    color: var(--color-heading);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
    margin: 0 0 16px;
}

h4 {
    color: var(--color-heading);
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0 0 12px;
}

h5 {
    color: var(--color-heading);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625rem;
    margin: 0 0 10px;
}

h6 {
    color: var(--color-heading);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0 0 8px;
}

p {
    font-size: .875rem;
    line-height: 1.25rem;
}
*/
