/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* Initialise Variables */
:root {
    /* Colour Scheme */
    --colour-primary: #000;
    --colour-secondary: #EBEBEB;
    --colour-background: #FAFAFA;
    --colour-text-primary: #000;
    --colour-text-secondary: #666;
    --colour-text-tertiary: #FFF;

    --colour-success: #61D161;
    --colour-error: #E23636;
    --colour-warning: #EDC25E;
    --colour-info: #4A90E2;

    /* Font Family */
    --font-primary: 'Geist', sans-serif;
}


/* Basic Page Styles */
body {
    font-family: var(--font-primary), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            'wdth' 100;

    color: var(--colour-text-primary);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    background-color: var(--colour-background);

    max-width: 100vw;
    min-height: 100%;
    scroll-padding-top: 64px; /* Use header height for this */
}

b {
    font-weight: 600;
}

.inline-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Heading Styles */
header {
    width: 100%;
    height: 64px;

    background-color: var(--colour-background);

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 24px;
    padding-right: 24px;

    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 200ms ease 0s, background-color 200ms ease 0s;
    z-index: 1000;
}

.header-fill {
    height: 64px;
    width: 100%;
}

header:not(.has-scrolled), header.header-transparent {
    background: transparent;
    box-shadow: none;
}

header.header-sticky {
    position: fixed;
    top: 0;
}

.header-logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 32px;
}

header a {
    text-decoration: none !important;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.header-link-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    color: var(--colour-text-secondary);
    font-size: 1rem;

    transition: all 200ms ease 0s;
}

.header-link-container a.dropdown::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 6px;
    font-size: 0.5rem;
    transition: all 200ms ease 0s;
}

.header-link-container a.dropdown:hover::after {
    transform: rotate(180deg);
    transition: all 200ms ease 0s;
}

.header-link-a:hover {
    background-color: var(--colour-secondary);
    color: var(--colour-text-primary);
    border-radius: 32px;

    transition: all 200ms ease 0s;
}

.header-link-b {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 500;

    color: var(--colour-text-secondary);
    border: 1px solid var(--colour-text-secondary);
    border-radius: 8px;

    transition: all 200ms ease 0s;
}

.header-link-b:hover {
    background-color: var(--colour-secondary);
    border: 1px solid var(--colour-text-secondary);
    color: var(--colour-text-primary);

    transition: all 200ms ease 0s;
}

.header-link-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 500;

    color: var(--colour-text-tertiary);
    border: 1px solid var(--colour-text-secondary);
    background-color: var(--colour-primary);
    border-radius: 8px;

    transition: all 200ms ease 0s;
}

.header-profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--colour-secondary);
    box-shadow: var(--colour-secondary) 0 0 0 1px;
}

.dropdown-content {
    margin-top: 8px;
    position: fixed;
    background-color: var(--colour-text-tertiary);
    padding: 18px;
    border-radius: 16px;
    border: 1px solid var(--colour-secondary);
    box-shadow: var(--colour-secondary) 0 0 0 1px;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.dropdown-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dropdown-section h4 {
    color: var(--colour-text-secondary);
    font-size: 1rem;
}

.dropdown-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 225px;
    gap: 12px;
}

.dropdown-link:hover {
    i {
        background-color: var(--colour-primary);
        color: var(--colour-text-tertiary);
    }
    .dropdown-description {
        color: var(--colour-text-primary);
    }
}

.dropdown-link i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--colour-secondary);
    box-sizing: content-box;
    width: 16px;
    height: 16px;
}

.dropdown-text {
    display: flex;
    flex-direction: column;
}

.dropdown-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--colour-text-primary);
}

.dropdown-description {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--colour-text-secondary);
}

/* Signup / Login Page */
.signup-login-page {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 1024px;
    height: 512px;
    display: flex;
    flex-direction: row;
}

.signup-form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-form-container img {
    margin-right: 24px;
    margin-left: -32px;
}

.signup-form-container h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--colour-text-primary);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.signup-form-container h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--colour-text-primary);
    text-transform: uppercase;
}

.signup-form-container h3 {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    color: var(--colour-text-primary);
    text-transform: uppercase;
}

.signup-form-container p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--colour-text-primary);
    margin-bottom: 8px;
}

.signup-form-container a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--colour-text-secondary);
    margin-bottom: 8px;
}

.warning-text {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--colour-error);
    margin-bottom: 8px;
}

.warning-text i {
    margin-right: 4px;
    color: var(--colour-error);
}

input[type="checkbox"] {
    appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;

    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid var(--colour-secondary);
    background-color: var(--colour-text-tertiary);
    box-sizing: content-box;
    box-shadow: var(--colour-secondary) 0 0 0 1px;
    margin-right: 8px;
    accent-color: var(--colour-primary);
}

.signup-double-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.required-asterisk {
    color: var(--colour-error);
    margin-left: 2px;
}

.form-button-a {
    width: 100%;
    text-align: center;
    background-color: var(--colour-text-tertiary);
    color: var(--colour-text-primary);
    border: 1px solid var(--colour-secondary);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-right: 16px;
}

.form-button-b {
    width: 100%;
    text-align: center;
    background-color: var(--colour-primary);
    color: var(--colour-text-tertiary);
    border: 1px solid var(--colour-secondary);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.form-button-c {
    width: 100%;
    text-align: center;
    background-color: var(--colour-error);
    color: var(--colour-text-tertiary);
    border: 1px solid var(--colour-secondary);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.info-message {
    color: var(--colour-info);
    font-size: 1rem;
    margin-top: 8px;
}

.error-message {
    color: var(--colour-error);
    font-size: 1rem;
    margin-bottom: 8px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: var(--colour-secondary);
    border-radius: 4px;
    margin-bottom: 16px;
}

.progress-bar-fill {
    width: 0;
    height: 8px;
    background-color: var(--colour-primary);
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
}

.signup-spacer {
    width: 100%;
    padding: 1px;
    background-color: var(--colour-secondary);
    margin: 16px 0;
}

.signup-input-label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--colour-text-primary);
    margin-bottom: 8px;
}

.signup-input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--colour-secondary);
    background-color: var(--colour-text-tertiary);
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--colour-text-primary);
    margin-bottom: 16px;
}

.signup-double-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.signup-double-input-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
}

.signup-double-input-vertical input {
    margin: 0;
}

.profile-picture-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signup-profile-img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--colour-secondary);
    box-shadow: var(--colour-secondary) 0 0 0 1px;
}

button i {
    margin-right: 8px;
}

.password_strength {
    display: block;
    background-color: var(--colour-background);
    margin-bottom: 8px;
}

.notification-box {
    position: fixed;
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1000;
}

.notification-box a {
    text-decoration: none;
}

.notification {
    padding: 16px;
    border: 1px solid var(--colour-secondary);
    border-left-width: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.notification strong {
    font-weight: 600;
    font-size: 1.1rem;
}

.notification a {
    margin-left: auto;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-error {
    border-left-color: var(--colour-error);
    background-color: rgba(226, 54, 54, 0.1);
}

.notification-error strong {
    color: var(--colour-error);
}

.notification-success {
    border-left-color: var(--colour-success);
    background-color: rgba(97, 209, 97, 0.1);
}

.notification-success strong {
    color: var(--colour-success);
}

.notification-warning {
    border-left-color: var(--colour-warning);
    background-color: rgba(237, 194, 94, 0.1);
}

.notification-warning strong {
    color: var(--colour-warning);
}

/* Page Responsiveness */
@media (min-width: 1536px) {
    .signup-form {
        width: 1280px;
        height: 640px;
    }

    .signup-form-container h1 {
        font-size: 3rem;
    }

    .signup-form-container h2 {
        font-size: 1.5rem;
    }

    .signup-form-container p {
        font-size: 1.2rem;
    }

    .signup-form-container h3 {
        font-size: 1.3rem;
    }

    .warning-text {
        font-size: 1rem;
    }

    .signup-form-container a {
        font-size: 1.2rem;
    }

    .error_message {
        font-size: 1.2rem;
    }

    label {
        font-size: 1.2rem;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1024px) {
    /* Mobile & Tablet Responsiveness */
}