/* Text Color */
.text-invert {
    color: var(--color-text-primary);
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.text-secondary {
    color: var(--color-text-secondary);
}


/* Text Alignment */
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}


/* Text Weight */
.text-base {
    font-weight: 400 !important;
}

.text-medium {
    font-weight: 500 !important;
}

.text-semibold {
    font-weight: 600 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-italic {
    font-family: "Raleway Italic", sans-serif !important;
    font-style: italic !important;
}

/* Text Transform */
.text-uppercase {
    text-transform: uppercase !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-title-case {
    text-transform: capitalize !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-break {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}


/* Text Decoration */
.text-underline {
    text-decoration: underline !important;
}

.text-overline {
    text-decoration: overline !important;
}

.text-line-through {
    text-decoration: line-through !important;
}
